<!DOCTYPE html>
<html lang="en">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<link rel="stylesheet" href="../static/css/contact.css">

<body>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <div class="contacts">
        <h2>Contact Me</h2>
        <br>
        <p>S P Jagrit</p>
        <ul>
          <li><i class="bx bxl-gmail"></i> <a href="mailto:youremail@example.com">sj8116@srmist.edu.in</a></li>
          <li><i class='bx bxl-github'></i><a href="https://github.com/Spjagrit">GitHub</a></li>
          <li><i class="bx bxl-linkedin"></i> <a href="https://www.linkedin.com/in/s-p-jagrit-9151a5225/">LinkedIn</a></li>
        </ul>
        <br>
        <p>Ankit Murarka</p>
        <ul>
          <li><i class="bx bxl-gmail"></i> <a href="mailto:youremail@example.com">am8460@srmist.edu.in</a></li>
          <li><i class='bx bxl-github'></i><a href="https://github.com/ankitmurarka96">GitHub</a></li>
          <li><i class="bx bxl-linkedin"></i> <a href="https://www.linkedin.com/in/ankit-murarka-2228661bb/">LinkedIn</a></li>
        </ul>
      </div>
</body>
</html>
